{
  "openapi": "3.1.1",
  "info": {
    "title": "TelegaFirst Hub API",
    "version": "1.0.0",
    "description": "Hub API for external applications and MCP agents — sessions, orders, catalog, entitlements, notifications, and exports."
  },
  "servers": [
    {
      "url": "https://mcp.telegafirst.ru"
    }
  ],
  "components": {
    "securitySchemes": {
      "hubBearer": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "CartStatus": {
        "type": "string",
        "enum": [
          "active",
          "converted",
          "abandoned"
        ]
      },
      "CartCurrency": {
        "type": "string",
        "enum": [
          "RUB",
          "USD",
          "EUR",
          "XTR"
        ]
      },
      "CartMoney": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string",
            "pattern": "^-?[0-9]+(?:\\.[0-9]{2})$"
          },
          "currency": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CartCurrency"
              },
              {
                "type": [
                  "string",
                  "null"
                ]
              }
            ]
          }
        },
        "required": [
          "amount",
          "currency"
        ],
        "additionalProperties": false
      },
      "CartSelectedOptions": {
        "type": "object",
        "additionalProperties": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "CartLineMoney": {
        "type": "object",
        "properties": {
          "unit_amount": {
            "type": "string"
          },
          "line_total": {
            "type": "string"
          }
        },
        "required": [
          "unit_amount",
          "line_total"
        ],
        "additionalProperties": false
      },
      "CartNotice": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "PRICE_CHANGED"
            ]
          },
          "line_no": {
            "type": "integer",
            "minimum": 1
          },
          "before": {
            "$ref": "#/components/schemas/CartLineMoney"
          },
          "after": {
            "$ref": "#/components/schemas/CartLineMoney"
          }
        },
        "required": [
          "code",
          "line_no",
          "before",
          "after"
        ],
        "additionalProperties": false
      },
      "CartItem": {
        "type": "object",
        "properties": {
          "line_no": {
            "type": "integer",
            "minimum": 1
          },
          "product_seq_id": {
            "type": "integer",
            "minimum": 1
          },
          "title": {
            "type": "string"
          },
          "quantity": {
            "type": "integer",
            "minimum": 1
          },
          "selected_options": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CartSelectedOptions"
              },
              {
                "type": [
                  "object",
                  "null"
                ]
              }
            ]
          },
          "note": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 500
          },
          "unit_amount": {
            "type": "string"
          },
          "line_total": {
            "type": "string"
          },
          "currency": {
            "$ref": "#/components/schemas/CartCurrency"
          },
          "available_providers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "requires_delivery": {
            "type": "boolean"
          },
          "requires_postal_code": {
            "type": "boolean"
          }
        },
        "required": [
          "line_no",
          "product_seq_id",
          "title",
          "quantity",
          "selected_options",
          "note",
          "unit_amount",
          "line_total",
          "currency",
          "available_providers",
          "requires_delivery",
          "requires_postal_code"
        ],
        "additionalProperties": false
      },
      "CartProjection": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "minLength": 16,
            "maxLength": 16,
            "pattern": "^[A-Za-z0-9_-]{16}$"
          },
          "status": {
            "$ref": "#/components/schemas/CartStatus"
          },
          "revision": {
            "type": "integer",
            "minimum": 1
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CartItem"
            }
          },
          "totals": {
            "$ref": "#/components/schemas/CartMoney"
          },
          "available_providers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "notices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CartNotice"
            }
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "code",
          "status",
          "revision",
          "items",
          "totals",
          "available_providers",
          "notices",
          "expires_at"
        ],
        "additionalProperties": false
      },
      "CreateCartResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "minLength": 16,
            "maxLength": 16,
            "pattern": "^[A-Za-z0-9_-]{16}$"
          },
          "status": {
            "type": "string",
            "enum": [
              "active"
            ]
          },
          "revision": {
            "type": "integer",
            "minimum": 1
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "code",
          "status",
          "revision",
          "expires_at"
        ],
        "additionalProperties": false
      },
      "AddCartItemRequest": {
        "type": "object",
        "properties": {
          "product_seq_id": {
            "type": "integer",
            "minimum": 1
          },
          "quantity": {
            "type": "integer",
            "minimum": 1
          },
          "selected_options": {
            "$ref": "#/components/schemas/CartSelectedOptions"
          },
          "note": {
            "type": "string",
            "maxLength": 500
          }
        },
        "required": [
          "product_seq_id",
          "quantity"
        ],
        "additionalProperties": false
      },
      "PatchCartItemRequest": {
        "type": "object",
        "properties": {
          "quantity": {
            "type": "integer",
            "minimum": 1
          },
          "note": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 500
          }
        },
        "additionalProperties": false,
        "minProperties": 1
      },
      "CartAcceptedPricingQuote": {
        "type": "object",
        "properties": {
          "cart_version": {
            "type": "integer",
            "minimum": 1
          },
          "pricing_revision": {
            "type": "string",
            "minLength": 1
          },
          "amount": {
            "type": "string",
            "minLength": 1
          },
          "currency": {
            "$ref": "#/components/schemas/CartCurrency"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "signature": {
            "type": "string",
            "pattern": "^v1\\.[A-Za-z0-9_-]+\\.[A-Za-z0-9_-]+$"
          }
        },
        "required": [
          "cart_version",
          "pricing_revision",
          "amount",
          "currency",
          "expires_at",
          "signature"
        ],
        "additionalProperties": false
      },
      "CartPriceChangedDetails": {
        "type": "object",
        "properties": {
          "freshQuote": {
            "$ref": "#/components/schemas/CartAcceptedPricingQuote"
          }
        },
        "required": [
          "freshQuote"
        ],
        "additionalProperties": false
      },
      "CartCheckoutConflictProblem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ProblemDetails"
          },
          {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "CART_INACTIVE",
                  "IDEMPOTENCY_KEY_MISMATCH"
                ]
              }
            }
          }
        ]
      },
      "ValidationErrorDetail": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "field",
          "message",
          "code"
        ]
      },
      "ErrorHint": {
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "minLength": 1
          },
          "recovery": {
            "type": "string",
            "minLength": 1
          },
          "example": {
            "type": "object",
            "additionalProperties": {}
          },
          "see": {
            "type": "string"
          }
        },
        "required": [
          "reason",
          "recovery"
        ],
        "additionalProperties": false
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "format": "uri"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "detail": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          },
          "code": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "traceId": {
            "type": "string"
          },
          "validation_errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationErrorDetail"
            }
          },
          "current_etag": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^W\\/\"[a-f0-9]{16}\"$"
              },
              {
                "type": "string",
                "pattern": "^\"cart-[1-9][0-9]*\"$"
              }
            ]
          },
          "details": {},
          "hint": {
            "$ref": "#/components/schemas/ErrorHint"
          }
        },
        "required": [
          "type",
          "title",
          "status",
          "code",
          "traceId"
        ]
      },
      "ErrorCode": {
        "type": "string",
        "enum": [
          "INVALID_REQUEST",
          "MALFORMED_JSON",
          "IDEMPOTENCY_KEY_REQUIRED",
          "MISSING_REQUIRED_FIELD",
          "INVALID_API_VERSION",
          "INVALID_PRICING_QUOTE",
          "MALFORMED_IF_MATCH",
          "UNAUTHORIZED",
          "INVALID_API_KEY",
          "INVALID_JWT",
          "EXPIRED_JWT",
          "INVALID_REFRESH_TOKEN",
          "MFA_REQUIRED",
          "FORBIDDEN",
          "INSUFFICIENT_SCOPE",
          "ACCOUNT_DISABLED",
          "WEBHOOK_DISABLED",
          "NOT_FOUND",
          "RESOURCE_NOT_FOUND",
          "SESSION_NOT_FOUND",
          "ORDER_NOT_FOUND",
          "USER_NOT_FOUND",
          "PRODUCT_NOT_FOUND",
          "PAYMENT_NOT_FOUND",
          "EXPORT_NOT_FOUND",
          "CART_NOT_FOUND",
          "CONFLICT",
          "IDEMPOTENCY_CONFLICT",
          "EXTERNAL_ORDER_REF_CONFLICT",
          "ORDER_NOT_LINKABLE",
          "SESSION_ALREADY_APPROVED",
          "WEBHOOK_URL_CONFLICT",
          "PRICE_CHANGED",
          "ORDER_ITEM_VERSION_CONFLICT",
          "ORDER_ALREADY_PAID",
          "CART_INACTIVE",
          "SESSION_EXPIRED",
          "APPROVAL_CODE_EXPIRED",
          "PRECONDITION_FAILED",
          "ETAG_STALE",
          "VALIDATION_ERROR",
          "IDEMPOTENCY_KEY_MISMATCH",
          "ZONE_REQUIRED",
          "INVALID_PROVIDER_CURRENCY",
          "PROVIDER_NOT_CONFIGURED",
          "CATALOG_FIELD_READ_ONLY",
          "TEXT_TOO_LONG",
          "INVALID_BUTTON_CONFIG",
          "INVALID_MEDIA",
          "INVALID_SCOPE",
          "INVALID_CURSOR",
          "INVALID_FILTER",
          "LIMIT_EXCEEDED",
          "EXPORT_MAX_ROWS_EXCEEDED",
          "TOKEN_PASSTHROUGH_FORBIDDEN",
          "AUDIENCE_MISMATCH",
          "INVALID_OAUTH_STATE",
          "INVALID_OAUTH_REDIRECT_URI",
          "ITEMS_REQUIRED",
          "VARIANTS_NOT_AVAILABLE",
          "INVALID_QUANTITY",
          "MIXED_CURRENCY",
          "NO_COMMON_PAYMENT_PROVIDER",
          "SINGLETON_ORDER_REQUIRED",
          "MIXED_PARTNER_RATES",
          "PRODUCT_NOT_CART_ELIGIBLE",
          "OPTION_UNAVAILABLE",
          "QUANTITY_LIMIT",
          "MERGE_REJECTED",
          "BUYER_CONTACT_REQUIRED",
          "DELIVERY_ADDRESS_REQUIRED",
          "POSTAL_CODE_REQUIRED",
          "PRECONDITION_REQUIRED",
          "PRICING_QUOTE_REQUIRED",
          "ETAG_REQUIRED",
          "CATALOG_UNAVAILABLE",
          "CATALOG_LOCK_ORDER",
          "UNSUPPORTED_QUOTE_CURRENCY",
          "RATE_LIMIT_EXCEEDED",
          "EXPORT_LIMIT_EXCEEDED",
          "REFRESH_LIMIT_EXCEEDED",
          "INTERNAL_ERROR",
          "SERVICE_UNAVAILABLE",
          "PRICING_UNAVAILABLE"
        ]
      },
      "CartPriceChangedProblem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ProblemDetails"
          },
          {
            "type": "object",
            "properties": {
              "status": {
                "type": "number",
                "enum": [
                  409
                ]
              },
              "code": {
                "type": "string",
                "enum": [
                  "PRICE_CHANGED"
                ]
              },
              "details": {
                "$ref": "#/components/schemas/CartPriceChangedDetails"
              }
            },
            "required": [
              "details"
            ]
          }
        ]
      },
      "CartDeliveryAddress": {
        "type": "object",
        "properties": {
          "postal_code": {
            "type": "string",
            "maxLength": 20
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "street": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "house": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20
          },
          "building": {
            "type": "string",
            "maxLength": 20
          },
          "entrance": {
            "type": "string",
            "maxLength": 10
          },
          "floor": {
            "type": "string",
            "maxLength": 10
          },
          "apartment": {
            "type": "string",
            "maxLength": 20
          },
          "intercom": {
            "type": "string",
            "maxLength": 20
          },
          "comment": {
            "type": "string",
            "maxLength": 300
          }
        },
        "required": [
          "city",
          "street",
          "house"
        ],
        "additionalProperties": false
      },
      "CheckoutCartRequest": {
        "type": "object",
        "properties": {
          "accepted_pricing_quote": {
            "$ref": "#/components/schemas/CartAcceptedPricingQuote"
          },
          "zone": {
            "type": "string",
            "enum": [
              "ru",
              "com"
            ]
          },
          "user_seq_id": {
            "type": "integer",
            "minimum": 1
          },
          "checkout_notes": {
            "type": "string",
            "maxLength": 2000
          },
          "buyer_email": {
            "type": "string",
            "maxLength": 254,
            "format": "email"
          },
          "buyer_phone": {
            "type": "string",
            "minLength": 10,
            "maxLength": 32
          },
          "buyer_inn": {
            "type": "string",
            "pattern": "^\\d{10}(?:\\d{2})?$"
          },
          "delivery_address": {
            "$ref": "#/components/schemas/CartDeliveryAddress"
          },
          "redirect_url": {
            "type": "string",
            "maxLength": 2048,
            "format": "uri"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "required": [
          "accepted_pricing_quote",
          "zone"
        ],
        "additionalProperties": false
      },
      "CreateSessionRequest": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ExternalSessionType"
          },
          "external_user_id": {
            "type": "string",
            "maxLength": 255
          },
          "product_seq_id": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "redirect_url": {
            "type": "string",
            "maxLength": 2048,
            "format": "uri"
          },
          "login_session_id": {
            "type": "string",
            "maxLength": 255
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "required": [
          "type"
        ]
      },
      "ExternalSessionType": {
        "type": "string",
        "enum": [
          "LOGIN",
          "LINK",
          "OPEN_BILLING",
          "PAY_PRODUCT",
          "OPEN_SUPPORT"
        ]
      },
      "CreateSessionResponse": {
        "type": "object",
        "properties": {
          "session_id": {
            "type": "string",
            "format": "uuid"
          },
          "state": {
            "$ref": "#/components/schemas/ExternalSessionState"
          },
          "deeplink_url": {
            "type": "string",
            "format": "uri"
          },
          "code": {
            "type": "string"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "bot": {
            "type": "object",
            "properties": {
              "username": {
                "type": "string"
              },
              "start_token": {
                "type": "string"
              }
            },
            "required": [
              "username",
              "start_token"
            ]
          },
          "ws": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri"
              },
              "protocol": {
                "type": "string"
              }
            },
            "required": [
              "url",
              "protocol"
            ]
          }
        },
        "required": [
          "session_id",
          "state",
          "deeplink_url",
          "code",
          "expires_at",
          "bot",
          "ws"
        ]
      },
      "ExternalSessionState": {
        "type": "string",
        "enum": [
          "pending",
          "approved",
          "denied",
          "expired"
        ]
      },
      "GetSessionResponse": {
        "type": "object",
        "properties": {
          "session_id": {
            "type": "string",
            "format": "uuid"
          },
          "state": {
            "$ref": "#/components/schemas/ExternalSessionState"
          },
          "approval_code": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/SessionUser"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "session_id",
          "state",
          "expires_at"
        ]
      },
      "SessionUser": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "seq_id": {
            "type": "integer",
            "exclusiveMinimum": 0
          }
        },
        "required": [
          "id",
          "seq_id"
        ]
      },
      "ExchangeRequest": {
        "type": "object",
        "properties": {
          "approval_code": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "approval_code"
        ]
      },
      "ExchangeResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "token_type": {
            "type": "string",
            "enum": [
              "Bearer"
            ]
          },
          "user": {
            "$ref": "#/components/schemas/SessionUser"
          }
        },
        "required": [
          "access_token",
          "refresh_token",
          "expires_in",
          "token_type",
          "user"
        ]
      },
      "RefreshRequest": {
        "type": "object",
        "properties": {
          "refresh_token": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "refresh_token"
        ]
      },
      "RefreshResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "token_type": {
            "type": "string",
            "enum": [
              "Bearer"
            ]
          }
        },
        "required": [
          "access_token",
          "refresh_token",
          "expires_in",
          "token_type"
        ]
      },
      "BookingAvailabilityQuery": {
        "type": "object",
        "properties": {
          "catalog_item_seq_num": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "resource_seq_num": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "start_date": {
            "$ref": "#/components/schemas/BookingDayKey"
          },
          "end_date": {
            "$ref": "#/components/schemas/BookingDayKey"
          }
        },
        "required": [
          "catalog_item_seq_num",
          "start_date",
          "end_date"
        ],
        "additionalProperties": false
      },
      "BookingDayKey": {
        "type": "string",
        "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
      },
      "BookingCreateRequest": {
        "type": "object",
        "properties": {
          "catalog_item_seq_num": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "resource_seq_num": {
            "type": [
              "integer",
              "null"
            ],
            "exclusiveMinimum": 0
          },
          "user_id": {
            "type": "string",
            "maxLength": 20,
            "pattern": "^\\d+$"
          },
          "start_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "end_at": {
            "type": "string",
            "format": "date-time"
          },
          "quantity": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "selection_mode": {
            "$ref": "#/components/schemas/BookingSelectionMode"
          }
        },
        "required": [
          "catalog_item_seq_num",
          "resource_seq_num",
          "user_id",
          "start_at"
        ],
        "additionalProperties": false
      },
      "BookingSelectionMode": {
        "type": "string",
        "enum": [
          "full",
          "time_only",
          "resource_only",
          "open_inquiry"
        ]
      },
      "BookingCancelRequest": {
        "type": "object",
        "properties": {
          "reason": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 500
          }
        },
        "additionalProperties": false
      },
      "BookingAttendanceRequest": {
        "type": "object",
        "properties": {
          "did_attend": {
            "type": "boolean"
          }
        },
        "required": [
          "did_attend"
        ],
        "additionalProperties": false
      },
      "BookingResource": {
        "type": "object",
        "properties": {
          "seqNum": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "isActive": {
            "type": "boolean"
          },
          "isPublic": {
            "type": "boolean"
          },
          "slotIntervalMinutes": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "maxActiveUserBookings": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "minLeadTimeMinutes": {
            "type": "integer",
            "minimum": 0
          },
          "maxAdvanceDays": {
            "type": [
              "integer",
              "null"
            ],
            "exclusiveMinimum": 0
          },
          "catalogItemSeqNums": {
            "type": "array",
            "items": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        },
        "required": [
          "seqNum",
          "name",
          "description",
          "isActive",
          "isPublic",
          "slotIntervalMinutes",
          "maxActiveUserBookings",
          "minLeadTimeMinutes",
          "maxAdvanceDays",
          "catalogItemSeqNums"
        ]
      },
      "BookingResourceList": {
        "type": "object",
        "properties": {
          "resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BookingResource"
            }
          }
        },
        "required": [
          "resources"
        ]
      },
      "BookingSlot": {
        "type": "object",
        "properties": {
          "startAt": {
            "type": "string",
            "format": "date-time"
          },
          "endAt": {
            "type": "string",
            "format": "date-time"
          },
          "resourceSeqNum": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "resourceName": {
            "type": "string"
          },
          "bookable": {
            "type": "boolean"
          }
        },
        "required": [
          "startAt",
          "endAt",
          "resourceSeqNum",
          "resourceName",
          "bookable"
        ]
      },
      "BookingAvailability": {
        "type": "object",
        "properties": {
          "slots": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BookingSlot"
            }
          }
        },
        "required": [
          "slots"
        ]
      },
      "Booking": {
        "type": "object",
        "properties": {
          "seqNum": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "status": {
            "$ref": "#/components/schemas/BookingStatus"
          },
          "resourceSeqNum": {
            "type": [
              "integer",
              "null"
            ],
            "exclusiveMinimum": 0
          },
          "resourceName": {
            "type": [
              "string",
              "null"
            ]
          },
          "catalogItemSeqNum": {
            "type": [
              "integer",
              "null"
            ],
            "exclusiveMinimum": 0
          },
          "userId": {
            "type": "string",
            "pattern": "^\\d+$"
          },
          "selectionMode": {
            "$ref": "#/components/schemas/BookingSelectionMode"
          },
          "startAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "endAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "durationMinutes": {
            "type": [
              "integer",
              "null"
            ],
            "exclusiveMinimum": 0
          },
          "quantity": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "didAttend": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "seqNum",
          "status",
          "resourceSeqNum",
          "resourceName",
          "catalogItemSeqNum",
          "userId",
          "selectionMode",
          "startAt",
          "endAt",
          "durationMinutes",
          "quantity",
          "didAttend",
          "createdAt"
        ]
      },
      "BookingStatus": {
        "type": "string",
        "enum": [
          "pending",
          "confirmed",
          "completed",
          "cancelled",
          "no_show"
        ]
      },
      "EventRegistration": {
        "type": "object",
        "properties": {
          "seqNum": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "eventSeqNum": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "userSeqNum": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "catalogSeqNum": {
            "type": [
              "integer",
              "null"
            ],
            "exclusiveMinimum": 0
          },
          "status": {
            "type": "string",
            "enum": [
              "registered",
              "attended",
              "cancelled"
            ]
          },
          "checkedInAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "seqNum",
          "eventSeqNum",
          "userSeqNum",
          "catalogSeqNum",
          "status",
          "checkedInAt",
          "createdAt",
          "updatedAt"
        ]
      },
      "EventRegistrationListQuery": {
        "type": "object",
        "properties": {
          "cursor": {
            "type": "string"
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          "event_seq_num": {
            "type": "integer",
            "exclusiveMinimum": 0
          }
        },
        "additionalProperties": false
      },
      "EventRegistrationCreateRequest": {
        "type": "object",
        "properties": {
          "event_seq_num": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "user_seq_num": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "catalog_seq_num": {
            "type": "integer",
            "exclusiveMinimum": 0
          }
        },
        "required": [
          "event_seq_num",
          "user_seq_num"
        ],
        "additionalProperties": false
      },
      "EventRegistrationMutationRequest": {
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "EventRegistrationList": {
        "type": "object",
        "properties": {
          "registrations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventRegistration"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "registrations",
          "nextCursor"
        ]
      },
      "CreateOrderRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DirectQuoteOrderRequest"
          },
          {
            "type": "object",
            "properties": {
              "accepted_pricing_quote": {
                "$ref": "#/components/schemas/SignedPricingQuote"
              }
            },
            "required": [
              "accepted_pricing_quote"
            ],
            "additionalProperties": false
          }
        ]
      },
      "CreateOrderItem": {
        "type": "object",
        "properties": {
          "product_seq_id": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "quantity": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "selected_options": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string",
                "pattern": "^[a-z0-9_]{1,16}$"
              },
              "minItems": 1
            }
          },
          "note": {
            "type": "string",
            "maxLength": 500
          }
        },
        "required": [
          "product_seq_id",
          "quantity"
        ],
        "additionalProperties": false
      },
      "Zone": {
        "type": "string",
        "enum": [
          "ru",
          "com"
        ]
      },
      "SignedPricingQuote": {
        "type": "object",
        "properties": {
          "cart_version": {
            "type": [
              "integer",
              "null"
            ],
            "exclusiveMinimum": 0
          },
          "pricing_revision": {
            "type": "string",
            "minLength": 1
          },
          "amount": {
            "type": "string",
            "minLength": 1
          },
          "currency": {
            "type": "string",
            "enum": [
              "RUB",
              "USD",
              "EUR",
              "XTR"
            ]
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "signature": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "cart_version",
          "pricing_revision",
          "amount",
          "currency",
          "expires_at",
          "signature"
        ],
        "additionalProperties": false
      },
      "DirectQuoteOrderRequest": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateOrderItem"
            },
            "minItems": 1
          },
          "zone": {
            "$ref": "#/components/schemas/Zone"
          },
          "external_order_ref": {
            "type": "string",
            "maxLength": 255
          },
          "user_seq_id": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "buyer_email": {
            "type": "string",
            "maxLength": 254,
            "format": "email"
          },
          "buyer_phone": {
            "type": "string",
            "minLength": 10,
            "maxLength": 32
          },
          "buyer_inn": {
            "type": "string",
            "pattern": "^\\d{10}(?:\\d{2})?$"
          },
          "checkout_notes": {
            "type": "string",
            "maxLength": 2000
          },
          "delivery_address": {
            "type": "object",
            "properties": {
              "postal_code": {
                "type": "string",
                "maxLength": 20
              },
              "city": {
                "type": "string",
                "minLength": 1,
                "maxLength": 100
              },
              "street": {
                "type": "string",
                "minLength": 1,
                "maxLength": 150
              },
              "house": {
                "type": "string",
                "minLength": 1,
                "maxLength": 20
              },
              "building": {
                "type": "string",
                "maxLength": 20
              },
              "entrance": {
                "type": "string",
                "maxLength": 10
              },
              "floor": {
                "type": "string",
                "maxLength": 10
              },
              "apartment": {
                "type": "string",
                "maxLength": 20
              },
              "intercom": {
                "type": "string",
                "maxLength": 20
              },
              "comment": {
                "type": "string",
                "maxLength": 300
              }
            },
            "required": [
              "city",
              "street",
              "house"
            ]
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {}
          },
          "redirect_url": {
            "type": "string",
            "maxLength": 2048,
            "format": "uri"
          }
        },
        "required": [
          "items",
          "zone"
        ],
        "additionalProperties": false
      },
      "CreateOrderResponse": {
        "type": "object",
        "properties": {
          "seq_num": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "order_number": {
            "type": "string"
          },
          "display_number": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/OrderStatus"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderItemSnapshot"
            }
          },
          "payment_urls": {
            "$ref": "#/components/schemas/PaymentUrls"
          },
          "zone": {
            "$ref": "#/components/schemas/Zone"
          }
        },
        "required": [
          "seq_num",
          "order_number",
          "display_number",
          "status",
          "items",
          "payment_urls",
          "zone"
        ],
        "additionalProperties": false,
        "example": {
          "seq_num": 1042,
          "order_number": "1042",
          "display_number": "#1042",
          "status": "pending",
          "items": [
            {
              "line_no": 1,
              "catalog_seq_num": 42,
              "title": "Consultation",
              "quantity": 1,
              "unit_amount": "1500.00",
              "currency": "RUB"
            }
          ],
          "payment_urls": {
            "yookassa": "https://pay.example.test/order/1042"
          },
          "zone": "ru"
        }
      },
      "OrderStatus": {
        "type": "string",
        "enum": [
          "pending",
          "paid",
          "canceled",
          "expired",
          "linked"
        ]
      },
      "OrderItemSnapshot": {
        "type": "object",
        "properties": {
          "line_no": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "catalog_seq_num": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "quantity": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "unit_amount": {
            "type": "string"
          },
          "currency": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3
          }
        },
        "required": [
          "line_no",
          "catalog_seq_num",
          "title",
          "quantity",
          "unit_amount",
          "currency"
        ],
        "additionalProperties": false,
        "example": {
          "line_no": 1,
          "catalog_seq_num": 42,
          "title": "Consultation",
          "quantity": 1,
          "unit_amount": "1500.00",
          "currency": "RUB"
        }
      },
      "PaymentUrls": {
        "type": "object",
        "additionalProperties": {
          "type": "string",
          "format": "uri"
        }
      },
      "CartQuoteOrderRequest": {
        "type": "object",
        "properties": {
          "cart_code": {
            "type": "string",
            "minLength": 16,
            "maxLength": 16,
            "pattern": "^[A-Za-z0-9_-]{16}$"
          },
          "zone": {
            "$ref": "#/components/schemas/Zone"
          },
          "user_seq_id": {
            "type": "integer",
            "exclusiveMinimum": 0
          }
        },
        "required": [
          "cart_code",
          "zone"
        ],
        "additionalProperties": false
      },
      "QuoteOrderRequest": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/DirectQuoteOrderRequest"
          },
          {
            "$ref": "#/components/schemas/CartQuoteOrderRequest"
          }
        ]
      },
      "LinkUserRequest": {
        "type": "object",
        "properties": {
          "user_seq_id": {
            "type": "integer",
            "exclusiveMinimum": 0
          }
        },
        "required": [
          "user_seq_id"
        ]
      },
      "RefreshPaymentUrlsRequest": {
        "type": "object",
        "properties": {
          "payment_providers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "redirect_url": {
            "type": "string",
            "maxLength": 2048,
            "format": "uri"
          }
        }
      },
      "RefreshPaymentUrlsResponse": {
        "type": "object",
        "properties": {
          "seq_num": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "payment_urls": {
            "$ref": "#/components/schemas/PaymentUrls"
          },
          "refresh_count": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "seq_num",
          "payment_urls",
          "refresh_count"
        ]
      },
      "CatalogDetail": {
        "type": "object",
        "properties": {
          "seq_id": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "title": {
            "type": "string"
          },
          "title_alt": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "description_alt": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          },
          "is_public": {
            "type": "boolean"
          },
          "is_free": {
            "type": "boolean"
          },
          "groups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CatalogGroup"
            }
          },
          "editable_config": {
            "$ref": "#/components/schemas/CatalogEditableConfig"
          },
          "prices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CatalogPrice"
            }
          },
          "available_providers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CatalogAvailableProvider"
            }
          },
          "item_type": {
            "type": "string",
            "enum": [
              "product",
              "service",
              "digital",
              "delivery"
            ]
          },
          "sku_code": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 64
          },
          "measurement_unit": {
            "type": "string",
            "maxLength": 32
          },
          "requires_postal_code": {
            "type": "boolean"
          },
          "booking": {
            "$ref": "#/components/schemas/CatalogBookingConfig"
          },
          "trial": {
            "$ref": "#/components/schemas/CatalogTrial"
          },
          "deeplink_code": {
            "type": "string"
          },
          "ru_vat_rate": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "none",
              "vat_0",
              "vat_5",
              "vat_7",
              "vat_10",
              "vat_20",
              "vat_22",
              null
            ]
          },
          "ru_price_includes_tax": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "intl_tax_rate_percent": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "maximum": 100,
            "multipleOf": 0.01
          },
          "intl_price_includes_tax": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "variants": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "attributes": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "pattern": "^[a-z0-9_]{1,16}$"
                    },
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 64
                    },
                    "select": {
                      "type": "string",
                      "enum": [
                        "single",
                        "multi"
                      ]
                    },
                    "required": {
                      "type": "boolean",
                      "default": false
                    },
                    "max": {
                      "type": "integer",
                      "exclusiveMinimum": 0
                    },
                    "options": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "pattern": "^[a-z0-9_]{1,16}$"
                          },
                          "label": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 64
                          },
                          "modifiers": {
                            "type": "object",
                            "properties": {
                              "rub": {
                                "type": "string",
                                "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d{1,2})?$"
                              },
                              "usd": {
                                "type": "string",
                                "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d{1,2})?$"
                              },
                              "eur": {
                                "type": "string",
                                "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d{1,2})?$"
                              },
                              "stars": {
                                "type": "string",
                                "pattern": "^-?(?:0|[1-9]\\d*)$"
                              }
                            },
                            "additionalProperties": false
                          },
                          "is_available": {
                            "type": "boolean",
                            "default": true
                          },
                          "requires_delivery": {
                            "type": "boolean"
                          },
                          "is_deferred": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "key",
                          "label"
                        ],
                        "additionalProperties": false
                      },
                      "minItems": 1
                    }
                  },
                  "required": [
                    "key",
                    "name",
                    "select",
                    "options"
                  ],
                  "additionalProperties": false
                },
                "minItems": 1
              }
            },
            "required": [
              "attributes"
            ],
            "additionalProperties": false
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "seq_id",
          "title",
          "description",
          "is_active",
          "is_public",
          "is_free",
          "groups",
          "editable_config",
          "prices",
          "item_type",
          "sku_code",
          "measurement_unit",
          "requires_postal_code",
          "booking",
          "trial",
          "deeplink_code",
          "ru_vat_rate",
          "ru_price_includes_tax",
          "intl_tax_rate_percent",
          "intl_price_includes_tax",
          "variants",
          "updated_at"
        ],
        "additionalProperties": false
      },
      "CatalogGroup": {
        "type": "object",
        "properties": {
          "seq_id": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "title": {
            "type": "string"
          }
        },
        "required": [
          "seq_id",
          "title"
        ]
      },
      "CatalogEditableConfig": {
        "type": "object",
        "properties": {
          "etag": {
            "type": "string"
          },
          "editable_fields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "etag",
          "editable_fields"
        ]
      },
      "CatalogPrice": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "enum": [
                  "RUB",
                  "USD",
                  "EUR"
                ]
              },
              "amount": {
                "type": [
                  "string",
                  "null"
                ],
                "maxLength": 32,
                "pattern": "^\\d+(?:\\.\\d{1,2})?$"
              },
              "trial_amount": {
                "type": [
                  "string",
                  "null"
                ],
                "maxLength": 32,
                "pattern": "^\\d+(?:\\.\\d{1,2})?$"
              }
            },
            "required": [
              "currency",
              "amount",
              "trial_amount"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "enum": [
                  "XTR"
                ]
              },
              "amount": {
                "type": [
                  "integer",
                  "null"
                ],
                "minimum": 0
              },
              "trial_amount": {
                "type": "null"
              }
            },
            "required": [
              "currency",
              "amount",
              "trial_amount"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "enum": [
                  "USDT",
                  "TON",
                  "BTC",
                  "ETH",
                  "LTC",
                  "BNB",
                  "TRX",
                  "USDC"
                ]
              },
              "amount": {
                "type": [
                  "string",
                  "null"
                ],
                "maxLength": 32,
                "pattern": "^\\d+(?:\\.\\d{1,8})?$"
              },
              "trial_amount": {
                "type": "null"
              }
            },
            "required": [
              "currency",
              "amount",
              "trial_amount"
            ],
            "additionalProperties": false
          }
        ]
      },
      "CatalogAvailableProvider": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "minLength": 1
          },
          "currency": {
            "type": "string",
            "minLength": 1
          },
          "min_charge": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          },
          "requires_postal_code": {
            "type": "boolean"
          }
        },
        "required": [
          "provider",
          "currency",
          "min_charge",
          "requires_postal_code"
        ],
        "additionalProperties": false
      },
      "CatalogBookingConfig": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "mode": {
            "type": "string",
            "enum": [
              "hourly",
              "daily"
            ]
          },
          "duration_value": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^\\d+(\\.\\d{1,8})?$"
          },
          "buffer_minutes": {
            "type": "integer",
            "minimum": 0
          },
          "resource_seq_nums": {
            "type": "array",
            "items": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        },
        "required": [
          "enabled",
          "mode",
          "duration_value",
          "buffer_minutes",
          "resource_seq_nums"
        ]
      },
      "CatalogTrial": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "duration_days": {
            "type": "integer",
            "exclusiveMinimum": 0
          }
        },
        "required": [
          "enabled"
        ]
      },
      "CatalogItem": {
        "type": "object",
        "properties": {
          "seq_id": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "title": {
            "type": "string"
          },
          "title_alt": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          },
          "is_public": {
            "type": "boolean"
          },
          "editable_config": {
            "$ref": "#/components/schemas/CatalogEditableConfig"
          },
          "prices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CatalogPrice"
            }
          },
          "available_providers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CatalogAvailableProvider"
            }
          },
          "item_type": {
            "type": "string",
            "enum": [
              "product",
              "service",
              "digital",
              "delivery"
            ]
          },
          "sku_code": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 64
          },
          "measurement_unit": {
            "type": "string",
            "maxLength": 32
          },
          "requires_postal_code": {
            "type": "boolean"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "seq_id",
          "title",
          "is_active",
          "is_public",
          "prices",
          "item_type",
          "sku_code",
          "measurement_unit",
          "requires_postal_code",
          "updated_at"
        ],
        "additionalProperties": false
      },
      "CatalogListEnvelope": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CatalogItem"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/CatalogListMeta"
          }
        },
        "required": [
          "success",
          "data",
          "meta"
        ]
      },
      "CatalogListMeta": {
        "type": "object",
        "properties": {
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          },
          "limit": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "estimated_total": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "has_more",
          "next_cursor",
          "limit"
        ]
      },
      "CatalogPatch": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "title_alt": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "mediaRefs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "photo",
                    "video",
                    "document"
                  ]
                },
                "kind": {
                  "type": "string",
                  "enum": [
                    "voice",
                    "audio",
                    "video_note"
                  ]
                },
                "mediaRef": {
                  "type": "string",
                  "maxLength": 512,
                  "pattern": "^media-ingress\\/v1\\/[a-f0-9]{64}\\/[A-Za-z0-9_-]{16,128}\\/objects\\/[a-z][a-z0-9-]{0,63}\\/[a-f0-9]{64}\\/[a-f0-9]{24}\\.blob$"
                },
                "expectedSizeBytes": {
                  "type": "integer",
                  "exclusiveMinimum": 0,
                  "maximum": 4294967296
                },
                "sha256": {
                  "type": "string",
                  "pattern": "^[0-9a-f]{64}$"
                },
                "mimeType": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 255
                },
                "generatedFileName": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 255
                },
                "caption": {
                  "type": "string",
                  "maxLength": 1024
                },
                "captionEntities": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "mention",
                          "hashtag",
                          "cashtag",
                          "bot_command",
                          "url",
                          "email",
                          "phone_number",
                          "bold",
                          "italic",
                          "underline",
                          "strikethrough",
                          "spoiler",
                          "blockquote",
                          "expandable_blockquote",
                          "code",
                          "pre",
                          "text_link",
                          "text_mention",
                          "custom_emoji"
                        ]
                      },
                      "offset": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "length": {
                        "type": "integer",
                        "exclusiveMinimum": 0
                      },
                      "url": {
                        "type": "string"
                      },
                      "user": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "pattern": "^-?\\d+$"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id"
                        ],
                        "additionalProperties": false
                      },
                      "language": {
                        "type": "string"
                      },
                      "custom_emoji_id": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "offset",
                      "length"
                    ],
                    "additionalProperties": false
                  }
                },
                "captionHtml": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 16384
                }
              },
              "required": [
                "type",
                "mediaRef",
                "expectedSizeBytes",
                "sha256",
                "mimeType"
              ],
              "additionalProperties": false
            },
            "maxItems": 10
          },
          "description_alt": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          },
          "is_public": {
            "type": "boolean"
          },
          "prices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CatalogPrice"
            }
          },
          "item_type": {
            "type": "string",
            "enum": [
              "product",
              "service",
              "digital",
              "delivery"
            ]
          },
          "sku_code": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 64
          },
          "measurement_unit": {
            "type": "string",
            "maxLength": 32
          },
          "requires_postal_code": {
            "type": "boolean"
          },
          "booking": {
            "$ref": "#/components/schemas/CatalogBookingPatch"
          },
          "trial": {
            "$ref": "#/components/schemas/CatalogTrialPatch"
          },
          "variants": {
            "type": "object",
            "properties": {
              "attributes": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "pattern": "^[a-z0-9_]{1,16}$"
                    },
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 64
                    },
                    "select": {
                      "type": "string",
                      "enum": [
                        "single",
                        "multi"
                      ]
                    },
                    "required": {
                      "type": "boolean",
                      "default": false
                    },
                    "max": {
                      "type": "integer",
                      "exclusiveMinimum": 0
                    },
                    "options": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "pattern": "^[a-z0-9_]{1,16}$"
                          },
                          "label": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 64
                          },
                          "modifiers": {
                            "type": "object",
                            "properties": {
                              "rub": {
                                "type": "string",
                                "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d{1,2})?$"
                              },
                              "usd": {
                                "type": "string",
                                "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d{1,2})?$"
                              },
                              "eur": {
                                "type": "string",
                                "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d{1,2})?$"
                              },
                              "stars": {
                                "type": "string",
                                "pattern": "^-?(?:0|[1-9]\\d*)$"
                              }
                            },
                            "additionalProperties": false
                          },
                          "is_available": {
                            "type": "boolean",
                            "default": true
                          },
                          "requires_delivery": {
                            "type": "boolean"
                          },
                          "is_deferred": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "key",
                          "label"
                        ],
                        "additionalProperties": false
                      },
                      "minItems": 1
                    }
                  },
                  "required": [
                    "key",
                    "name",
                    "select",
                    "options"
                  ],
                  "additionalProperties": false
                },
                "minItems": 1
              }
            },
            "required": [
              "attributes"
            ],
            "additionalProperties": false
          },
          "ru_vat_rate": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "none",
              "vat_0",
              "vat_5",
              "vat_7",
              "vat_10",
              "vat_20",
              "vat_22",
              null
            ]
          },
          "ru_price_includes_tax": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "intl_tax_rate_percent": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "maximum": 100,
            "multipleOf": 0.01
          },
          "intl_price_includes_tax": {
            "type": [
              "boolean",
              "null"
            ]
          }
        },
        "additionalProperties": false
      },
      "CatalogBookingPatch": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "mode": {
            "type": "string",
            "enum": [
              "hourly",
              "daily"
            ]
          },
          "duration_value": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^\\d+(\\.\\d{1,8})?$"
          },
          "buffer_minutes": {
            "type": "integer",
            "minimum": 0
          },
          "resource_seq_nums": {
            "type": "array",
            "items": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        },
        "additionalProperties": false
      },
      "CatalogTrialPatch": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "duration_days": {
            "type": [
              "integer",
              "null"
            ],
            "exclusiveMinimum": 0
          }
        },
        "additionalProperties": false,
        "minProperties": 1
      },
      "EntitlementResponse": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/EntitlementStatus"
          },
          "plan_product_id": {
            "type": "string"
          },
          "trial_ends_at": {
            "type": "string",
            "format": "date-time"
          },
          "subscription_ends_at": {
            "type": "string",
            "format": "date-time"
          },
          "grace_ends_at": {
            "type": "string",
            "format": "date-time"
          },
          "addons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Addon"
            }
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "user_id",
          "status",
          "addons",
          "updated_at"
        ]
      },
      "EntitlementStatus": {
        "type": "string",
        "enum": [
          "trial",
          "active",
          "grace",
          "expired",
          "canceled",
          "none"
        ]
      },
      "Addon": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "quantity": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "expires_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "type",
          "quantity",
          "expires_at"
        ]
      },
      "SubscriptionResponse": {
        "type": "object",
        "properties": {
          "subscription_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "plan": {
            "type": "object",
            "properties": {
              "product_seq_id": {
                "type": "integer",
                "exclusiveMinimum": 0
              },
              "title": {
                "type": "string"
              }
            },
            "required": [
              "product_seq_id",
              "title"
            ]
          },
          "current_period_start": {
            "type": "string",
            "format": "date-time"
          },
          "current_period_end": {
            "type": "string",
            "format": "date-time"
          },
          "cancel_at_period_end": {
            "type": "boolean"
          },
          "provider": {
            "type": "string"
          }
        },
        "required": [
          "subscription_id",
          "status",
          "plan",
          "current_period_start",
          "current_period_end",
          "cancel_at_period_end",
          "provider"
        ]
      },
      "SendNotificationRequest": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string"
          },
          "text": {
            "type": "string",
            "maxLength": 4096
          },
          "parse_mode": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "HTML",
              "Markdown",
              null
            ]
          },
          "buttons": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Button"
              },
              "maxItems": 3
            },
            "maxItems": 3
          },
          "media": {
            "$ref": "#/components/schemas/Media"
          },
          "idempotency_key": {
            "type": "string",
            "maxLength": 255
          }
        },
        "required": [
          "user_id",
          "text"
        ]
      },
      "Button": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ButtonUrl"
          },
          {
            "$ref": "#/components/schemas/ButtonCallback"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "url": "#/components/schemas/ButtonUrl",
            "callback": "#/components/schemas/ButtonCallback"
          }
        }
      },
      "ButtonUrl": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "maxLength": 30
          },
          "type": {
            "type": "string",
            "enum": [
              "url"
            ]
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "text",
          "type",
          "url"
        ]
      },
      "ButtonCallback": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "maxLength": 30
          },
          "type": {
            "type": "string",
            "enum": [
              "callback"
            ]
          },
          "callback_data": {
            "type": "string",
            "maxLength": 64
          }
        },
        "required": [
          "text",
          "type",
          "callback_data"
        ]
      },
      "Media": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "photo",
              "document",
              "video"
            ]
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "caption": {
            "type": "string",
            "maxLength": 1024
          }
        },
        "required": [
          "type",
          "url"
        ]
      },
      "SendNotificationResponse": {
        "type": "object",
        "properties": {
          "notification_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued"
            ]
          }
        },
        "required": [
          "notification_id",
          "status"
        ]
      },
      "CreateExportRequest": {
        "type": "object",
        "properties": {
          "entity": {
            "$ref": "#/components/schemas/ExportEntity"
          },
          "format": {
            "$ref": "#/components/schemas/ExportFormat"
          },
          "filters": {
            "type": "object",
            "additionalProperties": {}
          },
          "include": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "entity",
          "format"
        ]
      },
      "ExportEntity": {
        "type": "string",
        "enum": [
          "users",
          "orders",
          "payments",
          "form_submissions"
        ]
      },
      "ExportFormat": {
        "type": "string",
        "enum": [
          "csv",
          "xlsx"
        ]
      },
      "CreateExportResponse": {
        "type": "object",
        "properties": {
          "export_id": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/ExportStatus"
          }
        },
        "required": [
          "export_id",
          "status"
        ]
      },
      "ExportStatus": {
        "type": "string",
        "enum": [
          "queued",
          "processing",
          "completed",
          "failed"
        ]
      },
      "GetExportResponse": {
        "type": "object",
        "properties": {
          "export_id": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/ExportStatus"
          },
          "entity": {
            "$ref": "#/components/schemas/ExportEntity"
          },
          "format": {
            "$ref": "#/components/schemas/ExportFormat"
          },
          "download_url": {
            "type": "string",
            "format": "uri"
          },
          "row_count": {
            "type": "integer",
            "minimum": 0
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time"
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "export_id",
          "status",
          "entity",
          "format",
          "created_at"
        ]
      },
      "UserPublic": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "seq_id": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "telegram_id": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "language_code": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "seq_id",
          "created_at",
          "updated_at"
        ]
      },
      "PaymentPublic": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "order_id": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "currency": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3
          },
          "provider": {
            "type": "string"
          },
          "provider_payment_id": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/PaymentStatus"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "amount",
          "currency",
          "provider",
          "status",
          "created_at",
          "updated_at"
        ]
      },
      "PaymentStatus": {
        "type": "string",
        "enum": [
          "pending",
          "succeeded",
          "failed",
          "refunded",
          "canceled"
        ]
      },
      "MeResponse": {
        "type": "object",
        "properties": {
          "app": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "type": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "name",
              "type"
            ]
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "endpoints": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "rate_limit": {
            "type": "object",
            "properties": {
              "tier": {
                "type": "string"
              },
              "rpm": {
                "type": "integer",
                "exclusiveMinimum": 0
              }
            },
            "required": [
              "tier",
              "rpm"
            ]
          },
          "bot": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "username": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "username"
            ]
          },
          "client": {
            "type": "object",
            "properties": {
              "slug": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            },
            "required": [
              "slug",
              "name"
            ]
          },
          "missing_scopes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MissingScope"
            }
          },
          "subscription": {
            "$ref": "#/components/schemas/PlanAxis"
          }
        },
        "required": [
          "app",
          "scopes",
          "events",
          "endpoints",
          "rate_limit",
          "bot",
          "client",
          "missing_scopes",
          "subscription"
        ]
      },
      "MissingScope": {
        "type": "object",
        "properties": {
          "scope": {
            "type": "string"
          },
          "bundle": {
            "type": "string"
          },
          "unlocks": {
            "type": "object",
            "properties": {
              "tool_ids": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "endpoints": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "required": [
              "tool_ids",
              "endpoints"
            ],
            "additionalProperties": false
          },
          "how_to_obtain": {
            "type": "string"
          }
        },
        "required": [
          "scope",
          "bundle",
          "unlocks",
          "how_to_obtain"
        ],
        "additionalProperties": false
      },
      "PlanAxis": {
        "type": "object",
        "properties": {
          "current_plan": {
            "type": "string",
            "enum": [
              "free",
              "starter",
              "ai_manager",
              "ai_coach",
              "enterprise",
              "topup_1m"
            ]
          },
          "locked_capabilities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "capability": {
                  "type": "string"
                },
                "required_plan": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "free",
                      "starter",
                      "ai_manager",
                      "ai_coach",
                      "enterprise",
                      "topup_1m"
                    ]
                  }
                },
                "upgrade_url": {
                  "type": "string"
                },
                "tool_ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "capability",
                "required_plan",
                "upgrade_url"
              ]
            }
          }
        },
        "required": [
          "current_plan",
          "locked_capabilities"
        ]
      },
      "GuideResponse": {
        "type": "object",
        "properties": {
          "version": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "endpoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GuideEndpoint"
            }
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GuideEvent"
            }
          }
        },
        "required": [
          "version",
          "scopes",
          "endpoints",
          "events"
        ]
      },
      "GuideEndpoint": {
        "type": "object",
        "properties": {
          "path": {
            "type": "string"
          },
          "method": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "description": {
            "type": "string"
          },
          "example_request": {},
          "example_response": {}
        },
        "required": [
          "path",
          "method",
          "scopes",
          "description"
        ]
      },
      "GuideEvent": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "example_payload": {}
        },
        "required": [
          "name",
          "description"
        ]
      },
      "McpServerCard": {
        "type": "object",
        "properties": {
          "protocol_versions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "vendor": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "url": {
                "type": "string",
                "format": "uri"
              }
            },
            "required": [
              "name",
              "url"
            ]
          },
          "capabilities": {
            "type": "object",
            "properties": {
              "tools": {
                "type": "boolean"
              },
              "resources": {
                "type": "boolean"
              },
              "prompts": {
                "type": "boolean"
              }
            },
            "required": [
              "tools",
              "resources",
              "prompts"
            ]
          },
          "endpoints": {
            "type": "object",
            "properties": {
              "streamable_http": {
                "type": "string",
                "format": "uri"
              }
            },
            "required": [
              "streamable_http"
            ]
          },
          "auth": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "api_key",
                  "oauth2"
                ]
              },
              "scopes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "required": [
              "type",
              "scopes"
            ]
          }
        },
        "required": [
          "protocol_versions",
          "name",
          "description",
          "vendor",
          "capabilities",
          "endpoints",
          "auth"
        ]
      },
      "McpServerJson": {
        "type": "object",
        "properties": {
          "remotes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "transport": {
                  "type": "string",
                  "enum": [
                    "streamable-http"
                  ]
                },
                "url": {
                  "type": "string",
                  "format": "uri"
                },
                "auth": {
                  "type": "string"
                }
              },
              "required": [
                "transport",
                "url",
                "auth"
              ]
            }
          }
        },
        "required": [
          "remotes"
        ]
      },
      "RegisterMiniAppOriginRequest": {
        "type": "object",
        "properties": {
          "zone": {
            "type": "string",
            "enum": [
              "ru",
              "com"
            ]
          },
          "origin": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "zone",
          "origin"
        ],
        "additionalProperties": false
      },
      "MiniAppOriginRegistration": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string"
          },
          "channel": {
            "type": "string",
            "enum": [
              "telegram"
            ]
          },
          "zone": {
            "type": "string",
            "enum": [
              "ru",
              "com"
            ]
          },
          "origin": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "registered"
            ]
          },
          "idempotent": {
            "type": "boolean"
          }
        },
        "required": [
          "clientId",
          "channel",
          "zone",
          "origin",
          "status",
          "idempotent"
        ]
      },
      "PriceChangedDetails": {
        "type": "object",
        "properties": {
          "freshQuote": {
            "$ref": "#/components/schemas/SignedPricingQuote"
          }
        },
        "required": [
          "freshQuote"
        ],
        "additionalProperties": false
      },
      "BookingResourceMutation": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "is_active": {
            "type": "boolean"
          },
          "is_public": {
            "type": "boolean"
          },
          "slot_interval_minutes": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "max_active_user_bookings": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "min_lead_time_minutes": {
            "type": "integer",
            "minimum": 0
          },
          "max_advance_days": {
            "type": [
              "integer",
              "null"
            ],
            "exclusiveMinimum": 0
          }
        },
        "additionalProperties": false
      },
      "BookingResourceScheduleList": {
        "type": "object",
        "properties": {
          "schedules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BookingResourceSchedule"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "schedules",
          "nextCursor"
        ]
      },
      "BookingResourceSchedule": {
        "type": "object",
        "properties": {
          "seqNum": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "resourceSeqNum": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "year": {
            "type": "integer"
          },
          "month": {
            "type": "integer",
            "minimum": 1,
            "maximum": 12
          },
          "days": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "startMinuteOfDay": {
            "type": [
              "integer",
              "null"
            ]
          },
          "endMinuteOfDay": {
            "type": [
              "integer",
              "null"
            ]
          },
          "breakStartMinuteOfDay": {
            "type": [
              "integer",
              "null"
            ]
          },
          "breakEndMinuteOfDay": {
            "type": [
              "integer",
              "null"
            ]
          },
          "isUnavailable": {
            "type": "boolean"
          },
          "etag": {
            "type": "string"
          }
        },
        "required": [
          "seqNum",
          "resourceSeqNum",
          "year",
          "month",
          "days",
          "startMinuteOfDay",
          "endMinuteOfDay",
          "breakStartMinuteOfDay",
          "breakEndMinuteOfDay",
          "isUnavailable",
          "etag"
        ]
      },
      "BookingResourceScheduleMutation": {
        "type": "object",
        "properties": {
          "resource_seq_num": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "year": {
            "type": "integer"
          },
          "month": {
            "type": "integer",
            "minimum": 1,
            "maximum": 12
          },
          "days": {
            "type": "array",
            "items": {
              "type": "integer",
              "minimum": 1,
              "maximum": 31
            },
            "minItems": 1
          },
          "start_minute_of_day": {
            "type": [
              "integer",
              "null"
            ]
          },
          "end_minute_of_day": {
            "type": [
              "integer",
              "null"
            ]
          },
          "break_start_minute_of_day": {
            "type": [
              "integer",
              "null"
            ]
          },
          "break_end_minute_of_day": {
            "type": [
              "integer",
              "null"
            ]
          },
          "is_unavailable": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      }
    },
    "parameters": {}
  },
  "paths": {
    "/api/v1/sessions": {
      "post": {
        "operationId": "createSession",
        "tags": [
          "sessions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSessionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create external session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSessionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sessions/{id}": {
      "get": {
        "operationId": "getSession",
        "tags": [
          "sessions"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Get external session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSessionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sessions/exchange": {
      "post": {
        "operationId": "exchangeSession",
        "tags": [
[...]
